*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        height: 90vh;
        width:90vw;
}
.svg-container{
    width: 50vw;
    height: 90vh;
    border:1px solid lightblue;
}
.picture{
    width: 50vw;
    height: 80vh;
    background-image: url("../img/illustration/undraw_Work_time_re_hdyv.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size:80%;
    position: absolute;
}

  .loginContainer{
      display: flex;
  }