* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid blue; */
    width: 75vw;
    height: 90vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.innerContainer {
    /* margin: auto; */
    display: flex;
}

.illustration {
    /* margin: auto; */
    /* border: 2px solid rgb(43, 43, 58); */
    width: 50%;
    height: 90vh;
    /* background: rgb(119, 99, 206); */

}

.img {
    width: 100%;
    height: 90vh;
    background-image: url("../img/undraw_remotely_2j6y.svg");
    background-position: center;
    background-size: cover;
    background-size: 80%;
    background-repeat: no-repeat;
    /* color: #3f3d56; */
}

.form-section {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    /* margin-left: auto; */
    margin-left:2% ;
    border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;

    width: 50%;
}

.buttonSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.socials {
    display: flex;
    justify-content: space-around;
}

.welcomMsg {
    margin-top: "3vh";
    color: rgb(48, 42, 42);
}
.Para {
    /* margin-top: "3vh"; */
    color: rgb(48, 42, 42);
    font-size: 0.7rem;
    text-transform: capitalize;
    word-spacing: 0.2rem;
    /* text-align: center; */

    
}

.MuiInputBase-root:hover {
    border: 0px solid yellow;
}

.MuiButton-label {
    font-size: 0.7rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.twitter, .google {
    /* background-color: url("../img/twitter-135.png"); */
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1, .div2, .div3 {
    -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
    background: #fff;
}
.google,.facebook,.twitter{
    position: absolute;
}
/* .MuiFormLabel-root:hover {
    background-color: red;
} */

.MuiTypography-body1, .MuiButton-label {
    font-size: 0.8rem;
    text-transform: none;
    /* color: ; */
}
.btns{
    font-size: 0.2rem;
    width:8rem;
    
}


@media screen and (max-width:300px){
    .welcomMsg{
        font-size: x-small;
    }   
       .MuiTypography-body1, .MuiButton-label{
           font-size: xx-small;
       }
    
       .buttonSection {
           display: flex;
           flex-direction: column;
           /* justify-content: space-around; */
           /* align-items: ; */
           width: 100%;
           height: 70px;
       }
       .btns{
           /* font-size: 4px; */
           /* width:6rem; */
           /* padding: 0; */
           width: 100%;
           
           
       }
       .div1, .div2, .div3 {
           -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
           box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -webkit-box-pack: center;
           -ms-flex-pack: center;
           justify-content: center;
           -webkit-box-align: center;
           -ms-flex-align: center;
           align-items: center;
           height: 27px;
           width: 27px;
           border-radius: 50%;
           background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
           background: #fff;
       }
       .lastPara  {
           margin-top: "3vh";
           color: rgb(48, 42, 42);
           font-size: 0.5rem;
           text-transform: capitalize;
           word-spacing: 0.1rem;
   
           
       }
       .Para {
           /* margin-top: "3vh"; */
           color: rgb(48, 42, 42);
           font-size: 0.5rem;
           text-transform: capitalize;
           /* word-spacing: rem; */
           /* text-align: center; */
   
           
       }
       .align{
           width: 100%;
           text-align: center;
       }
       .center {
           margin-left: auto;
           margin-right: auto;
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           width: 100%;
           overflow: inherit;
       }
       .MuiOutlinedInput-input{
           font-size: xx-small;
       }
       .MuiOutlinedInput-root {
           height: 30px;
       }
       .MuiTypography-body1, .MuiButton-label {
           font-size: xx-small;
       }
     .MuiOutlinedInput-input{
       padding:13px 1px;
       font-size: smaller;
     }
     .form-section {
       padding-top: 10px;
       padding-bottom: 10px;
       padding-left: 0.1rem;
       padding-right: 0.1rem;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       /* align-items: center; */
       /* margin-left: auto; */
       margin-left:2% ;
       border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
       width: 50%;
   }
   .MuiSvgIcon-root{
       fill: currentColor;
   width: 0.4em;
   height: 0.4em;
   display: inline-block;
   font-size: 1.5rem;
   transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   flex-shrink: 0;
   -moz-user-select: none;
   }
   }

@media screen and (max-width:400px){
    .MuiTypography-body1, .MuiButton-label{
        font-size: x-small;
    }
  
    .buttonSection {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: ; */
        width: 100%;
        height: 70px;
    }
    .btns{
        /* font-size: 4px; */
        /* width:6rem; */
        /* padding: 0; */
        width: 100%;
        
        
    }
    .div1, .div2, .div3 {
        -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 27px;
        width: 27px;
        border-radius: 50%;
        background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
        background: #fff;
    }
    .lastPara  {
        margin-top: "3vh";
        color: rgb(48, 42, 42);
        font-size: 0.5rem;
        text-transform: capitalize;
        word-spacing: 0.1rem;

        
    }
    .Para {
        /* margin-top: "3vh"; */
        color: rgb(48, 42, 42);
        font-size: 0.5rem;
        text-transform: capitalize;
        /* word-spacing: rem; */
        /* text-align: center; */

        
    }
    .center {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
       text-align: center;
    }
    .MuiOutlinedInput-root {
        height: 35px;
    }
    .MuiTypography-body1, .MuiButton-label {
        font-size: xx-small;
    }
  .MuiOutlinedInput-input{
    padding:13px 1px;
    font-size: smaller;
  }
  .form-section {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    /* margin-left: auto; */
    margin-left:2% ;
    border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;

    width: 50%;
}
.MuiSvgIcon-root{
    fill: currentColor;
width: 0.4em;
height: 0.4em;
display: inline-block;
font-size: 1.5rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
-moz-user-select: none;
}
}
@media screen and (max-width:600px){
    .MuiTypography-body1, .MuiButton-label{
        font-size: small;
    }
  
    .buttonSection {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: ; */
        width: 100%;
        height: 70px;
    }
    .form-section {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* align-items: center; */
        /* margin-left: auto; */
        margin-left:2% ;
        border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
        width: 50%;
        /* height: 60vh; */
    }
    .btns{
        /* font-size: 4px; */
        /* width:6rem; */
        /* padding: 0; */
        width: 100%;
        
        
    }
    /* .welcomMsg {
        font-size: 0.8rem;
    } */
    .div1, .div2, .div3 {
        -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 37px;
        width: 37px;
        border-radius: 50%;
        background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
        background: #fff;
    }
    .welcomMsg {
        margin-top: "3vh";
        color: rgb(48, 42, 42);
        font-size: 0.8rem;
        text-transform: capitalize;
        word-spacing: 0.2rem;

        
    }
    .Para {
        /* margin-top: "3vh"; */
        color: rgb(48, 42, 42);
        font-size: 0.7rem;
        text-transform: capitalize;
        word-spacing: 0.2rem;
        /* text-align: center; */

        
    }

  .MuiOutlinedInput-input{
    padding:13px 1px;
    font-size: smaller;
  }
  .MuiOutlinedInput-root {
    height: 36px;
}
.MuiTypography-body1, .MuiButton-label {
    font-size: xx-small;
}
.MuiOutlinedInput-input{
padding:13px 1px;
font-size: smaller;
}
.MuiSvgIcon-root{
    fill: currentColor;
width: 0.7em;
height: 0.7em;
display: inline-block;
font-size: 1.6rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
-moz-user-select: none;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
   text-align: center;
   height: 30px;


}
.MuiFormControlLabel-root{
    margin-left: -10px;
}
.lastPara{
    font-size: small;
}
}
