* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height: 900px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.innerContainer {
    display: flex;
}

.illustration {

    width: 50%;
    height: 900px;

}
.MuiFab-root:hover {
    text-decoration: none;
    background-color: #ffffff;
}
.MuiFab-root {
    min-height: auto;
     
 }
.img {
    width: 100%;
    height: 90vh;
    background-image: url("../img/undraw_remotely_2j6y.svg");
    background-position: center;
    background-size: cover;
    background-size: 80%;
    background-repeat: no-repeat;
}

.form-section {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
    margin-left:2% ;
    border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;

    width: 50%;
}
.textField{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttonSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.socials {
    display: flex;
    justify-content: space-between;
}

.welcomMsg {
    margin-top: "3vh";
    color: rgb(48, 42, 42);
}
.Para {
    color: rgb(48, 42, 42);
    font-size: 0.7rem;
    text-transform: capitalize;
    word-spacing: 0.2rem;

}



.MuiButton-label {
    font-size: 0.7rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.twitter, .google {
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1, .div2, .div3 {
    -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
    background: #fff;
}
.google,.facebook,.twitter{
    position: absolute;
}


.MuiTypography-body1, .MuiButton-label {
    font-size: 0.8rem;
    text-transform: none;
}
.btns{
    font-size: 0.2rem;
    width:8rem;
}

@media screen and (max-width:900px){
    .MuiTypography-body1, .MuiButton-label{
        font-size: medium;
    }
  
    .buttonSection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: -1.6rem;
        width: 100%;
        height: 150px;
    }
    .form-section {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        display: flex;
        flex-direction: column;
        margin-left:2% ;
        border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 50%;

    }
    .btns{

        width: 100%;
        
    }
  
  
    .div1, .div2, .div3 {
        -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 60px;
        width: 60px;
        background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
        background: #fff;
    }
    .welcomMsg {
        color: rgb(48, 42, 42);
        font-size: 1.6rem;
        text-transform: capitalize;
        word-spacing: 0.2rem;

        
    }
    .textField{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: -1.4rem;
    }
    .para {
        color: rgb(48, 42, 42);
        font-size: 1rem;
        text-transform: capitalize;
        word-spacing: 0.2rem;
        margin-top: -2rem;
    }

  .MuiOutlinedInput-input{
    padding:13px 2px;
    font-size: small;
  }
  .MuiOutlinedInput-root {
    height: 3.5rem;
}
.MuiButton-contained {
  font-size: medium;
}

.MuiTypography-body1, .MuiButton-label {
    font-size: small;
}
.MuiOutlinedInput-input{
padding:13px 2px;
font-size: small;
}
.MuiSvgIcon-root{
    fill: currentColor;
width: 0.7em;
height: 0.7em;
display: inline-block;
font-size: 2.5rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
-moz-user-select: none;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
   text-align: center;
   height: 30px;
   margin-top: -2rem;

}
.btns{
    font-size: 10rem;
    line-height: 2rem;
    font-weight: bolder;
}
.MuiFormControlLabel-root{
    margin-left: -10px;
}
.lastPara{
    font-size: medium;
    margin-top: -1.9rem;
}
.socials{
    margin-top: -1.9rem;
}
}

@media screen and (max-width:800px){
    .MuiTypography-body1, .MuiButton-label{
        font-size: medium;
    }
  
    .buttonSection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: -3rem;
        width: 100%;
        height: 150px;
    }
    .form-section {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        display: flex;
        flex-direction: column;
        margin-left:2% ;
        border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 50%;
    }
    .btns{

        width: 100%;
        
        
    }
  
    .div1, .div2, .div3 {
        -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 60px;
        width: 60px;
        background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
        background: #fff;
    }
    .welcomMsg {
        color: rgb(48, 42, 42);
        font-size: 1.6rem;
        text-transform: capitalize;
        word-spacing: 0.2rem;

        
    }
    .textField{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: -1.5rem;
    }
    .para {
        color: rgb(48, 42, 42);
        font-size: 1rem;
        text-transform: capitalize;
        word-spacing: 0.2rem;
        margin-top: -2rem;

        
    }

    .MuiOutlinedInput-input {
        padding: 13px 2px;
        font-size: medium;
        height: 30px;
    }
  .MuiOutlinedInput-root {
    height: 3.5rem;
}
.MuiButton-contained {
  font-size: medium;
    /* height: 45px; */
}

.MuiTypography-body1, .MuiButton-label {
    font-size: small;
}
.MuiOutlinedInput-input{
padding:13px 8px;
font-size: medium;
}
.MuiIconButton-edgeEnd {
    margin-right: -8px;
    width: 0.5rem;
}
.MuiFormControlLabel-root {
    /* position: absolute; */
    width: 100%;
}
.MuiButton-textPrimary{
    width: 100%;
}
.MuiButton-label {
    font-size: small;
}
.MuiSvgIcon-root{
    fill: currentColor;
width: 0.7em;
height: 0.7em;
display: inline-block;
font-size: 2.5rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
-moz-user-select: none;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   text-align: center;
   height: 6rem;
   margin-top: -3rem;
   position: relative;


}
.btns{
    /* font-size: 10rem; */
    /* line-height: 2rem; */
    
    font-weight: bold;
}
.MuiFormControlLabel-root{
    margin-left: -10px;
}
.lastPara{
    font-size: medium;
    margin-top: -2.1rem;
}
.socials{
    margin-top: -2.2rem;
    
    /* height: 43px; */
}
}



@media screen and (max-width:600px){
    .MuiTypography-body1, .MuiButton-label{
        font-size: small;
    }
  
    .buttonSection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin-top: -1.6rem;
        width: 100%;
        height: 100px;
    }
    .form-section {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        display: flex;
        flex-direction: column;

        margin-left:2% ;
        border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
        width: 50%;

    }
    .btns{

        width: 100%;
        
        
    }
  
    .div1, .div2, .div3 {
        -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 37px;
        width: 37px;
        border-radius: 50%;
        background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
        background: #fff;
    }
    .welcomMsg {
        margin-top: 3vh;
        color: rgb(48, 42, 42);
        font-size: 1.3rem;
        text-transform: capitalize;
        word-spacing: 0.2rem;

        
    }
    .textField{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: -1.4rem;
    }
    .para {
        color: rgb(48, 42, 42);
        font-size: 0.8rem;
        text-transform: capitalize;
        word-spacing: 0.2rem;
        margin-top: -2rem;

        
    }

  .MuiOutlinedInput-input{
    padding:13px 1px;
    font-size: smaller;
  }
  .MuiOutlinedInput-root {
    height: 45px;
}
.MuiButton-contained {
  font-size: medium;
    height: 37px;
}
.MuiButtonBase-root {
   
    height: 37px;
}
.MuiTypography-body1, .MuiButton-label {
    font-size: xx-small;
}
.MuiOutlinedInput-input{
padding:13px 1px;
font-size: smaller;
}
.MuiSvgIcon-root{
    fill: currentColor;
width: 0.7em;
height: 0.7em;
display: inline-block;
font-size: 1.6rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
-moz-user-select: none;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
   text-align: center;
   height: 30px;
   margin-top: -2rem;


}
.btns{
    font-size: 10rem;
    line-height: 2rem;
    
    font-weight: bolder;
}
.MuiFormControlLabel-root{
    margin-left: -10px;
}
.lastPara{
    font-size: small;
    margin-top: -1.5rem;
}
.socials{
    margin-top: -1.6rem;
}
}


@media screen and (max-width:500px){
    .welcomMsg{
        margin-top: -1rem;
        font-size: 0.9rem;
    }
    .MuiTypography-body1, .MuiButton-label{
        font-size: x-small;
    }
  
    .buttonSection {
        display: flex;
        flex-direction: column;
  
        width: 100%;
        height: 70px;
    }
    .btns{

        width: 100%;
        
        
    }
    .div1, .div2, .div3 {
        -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 27px;
        width: 27px;
        border-radius: 50%;
        background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
        background: #fff;
    }
    .lastPara  {
        margin-top: "3vh";
        color: rgb(48, 42, 42);
        font-size: 0.5rem;
        text-transform: capitalize;
        word-spacing: 0.1rem;

        
    }
    .textField{
        margin-top: -1rem;
        height: 7em;
}
    .para {
        margin-top: -1rem;
        color: rgb(48, 42, 42);
        font-size: 0.6rem;
        text-transform: capitalize;

        
    }
    .center {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
       text-align: center;
       /* border:2px solid blue; */
       height: 5rem;
       position: relative;
    }
    .MuiOutlinedInput-root {
        height: 35px;
    }
    .MuiTypography-body1, .MuiButton-label {
        font-size: xx-small;
    }
  .MuiOutlinedInput-input{
    padding:13px 1px;
    font-size: smaller;
  }
  .MuiTypography-body1, .MuiButton-label {
    font-size: x-small;
}
  .MuiButtonBase-root {
   
    height: 1.8rem;
}
.MuiIconButton-label{
    width: 0.02rem;
   }
   .MuiOutlinedInput-adornedStart {
    padding-left: 9px;
}
  

.MuiOutlinedInput-adornedEnd {
    padding-right: 8px;
}
.MuiOutlinedInput-input{
    font-size: x-small;
}
.MuiFab-root {
    min-height: auto;
     
 }


  .form-section {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left:2% ;
    border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;

    width: 50%;
}
.MuiSvgIcon-root{
 fill: currentColor;
width: 0.6em;
height: 0.6em;
display: inline-block;
font-size: 1.4rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
-moz-user-select: none;
}
}



@media screen and (max-width:360px){
  /* body{
      background-color: #ff0099;
  } */
  
    .welcomMsg {
        margin-top: -1rem;
        color: rgb(48, 42, 42);
        font-size: 0.7rem;
    }
    .form-section {
        padding-top: 8px;
        padding-bottom: 10px;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        /* align-items: center; */
        /* margin-left: auto; */
        margin-left:2% ;
        border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
        width: 50%;
    }  
    .MuiOutlinedInput-adornedStart {
        padding-left: 4px;
    }

       .buttonSection {
           display: flex;
           flex-direction: column;
           width: 100%;
           height: 5rem;
           margin-top: -1.5rem;
       }
       .textField{
           height: 6em;
           margin-top: 0.2rem;

       }
       .MuiOutlinedInput-adornedEnd {
        padding-right: 12px;
    }
       .btns{

           width: 100%;
           
           
       }
       .MuiFab-root {
       min-height: auto;
        
    }
       .div1, .div2, .div3 {
           -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
           box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -webkit-box-pack: center;
           -ms-flex-pack: center;
           justify-content: center;
           -webkit-box-align: center;
           -ms-flex-align: center;
           align-items: center;
           height: 27px;
           width: 27px;
           border-radius: 50%;
           background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
           background: #fff;
       }
       .lastPara  {
           /* margin-top: "3vh"; */
           color: rgb(48, 42, 42);
           font-size: 0.5rem;
           text-transform: capitalize;
           word-spacing: 0.1rem;
           margin-top: 0.2rem;
   
           
       }
       .para {
           margin-top: -0.5rem;
           color: rgb(48, 42, 42);
           font-size: 0.6rem;
           text-transform: capitalize;
           /* word-spacing: rem; */
           /* text-align: center; */
   
           
       }
       .align{
           /* width: 100%; */
           text-align: center;
           display: flex;
           justify-content: space-around;
           /* margin-top: 1rem; */
           
       }
       .MuiIconButton-label{
        width: 0.1rem;
       }
       .MuiButtonBase-root {
   
        height: 1.8rem;
    }
       .center {
           margin-left: auto;
           margin-right: auto;
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
           justify-content: center;
           align-items: center;
           width: 100%;
          
           height: 5rem;
       }
  
       .MuiOutlinedInput-input{
           font-size: xx-small;
       }
       .MuiOutlinedInput-root {
           height: 30px;
       }
       
     
   .MuiSvgIcon-root{
       fill: currentColor;
   width: 0.5em;
   height: 0.5em;
   display: inline-block;
   font-size: 1.6rem;
   transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   flex-shrink: 0;
   -moz-user-select: none;
   }
   .socials {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}
   }
