* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));;
   
}
.parentContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(65, 65, 42);
    position: relative;
}
.navBar{
    width: 100%;
    height: 10vh;
    border: 1px solid blue;
}

.container {

    width: 75vw;
    height: 83vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.innerContainer {
    display: flex;
}

.illustration {

    width: 50%;
    height: 80vh;
    /* border: 1px solid blue; */

/* margin:auto; */
position: relative;
}
.MuiFab-root:hover {
    text-decoration: none;
    background-color: #ffffff;
}
.img {
    /* min-height: auto; */
    
width: 100%;
    height: 55vh;
    background-image: url("../img/undraw_remotely_2j6y.svg");
    background-position: center;
    background-size: cover;
    background-size:90%;
    position: absolute;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);
    background-repeat: no-repeat;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
    margin-left:auto ;
    margin-right: auto;
    border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 2px solid red; */
    width: 49%;
}
.welcomMsg {
    font-size: x-large;
    color: rgb(48, 42, 42);
    font-weight: bold;
}
.textField{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.buttonSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.socials {
    display: flex;
    justify-content: space-around;
}

/* .MuiButton-label {
    font-size: 0.7rem;
} */

.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.twitter, .google {
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
}
.MuiOutlinedInput-adornedStart {
    padding-left: 10px;
}

.div1, .div2, .div3 {
    -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
    background: #fff;
}
.google,.facebook,.twitter{
    position: absolute;
}


.MuiTypography-body1, .MuiButton-label {
    font-size: 0.8rem;
    text-transform: none;
}
.btns{
    font-size: 0.2rem;
    width:11vw;
}
.lastPara{
    text-align: center;

}
.MuiButton-containedPrimary {
    color: #fff;
    background-color: red;
}
@media screen and (max-width:1030px){
    .MuiTypography-body1, .MuiButton-label{
        font-size: medium;
    }
  
    .buttonSection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 2vh;
        width: 100%;
        height: 12vh;
    }
    .topText{
        font-size: large;
    }
    .form-section {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        display: flex;
        flex-direction: column;
        margin-left:2% ;
        border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 50%;
    }
    .btns{

        width: 100%;
        
        
    }
  
    .div1, .div2, .div3 {
        -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 50px;
        width: 50px;
        background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
        background: #fff;
        margin-top: 2vh;
    }
    .lastPara{
        font-size: large;
    }
    .welcomMsg {
        color: rgb(48, 42, 42);
        font-size: 2rem;
        text-transform: capitalize;
        word-spacing: 0.2rem;

        
    }
    .textField{
        height: 11vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: -1.5rem;
    }
    .center{
        margin-top: 2vh;
    }
    .MuiOutlinedInput-input{
        padding:13px 2px;
        font-size: medium;
      }
      .MuiOutlinedInput-root {
        height: 3.5rem;
    }
    .MuiButton-contained {
      font-size: large;
    }
    
    .MuiTypography-body1, .MuiButton-label {
        font-size: small;
    }
    .MuiOutlinedInput-input{
    padding:13px 2px;
    font-size: medium;
    }

.btns{
    font-size: 10rem;
    line-height: 2.3rem;
    font-weight: bolder;
    

}
}

@media screen and (max-width:960px){
    .MuiTypography-body1, .MuiButton-label{
        font-size: medium;
    }
  
    .buttonSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        /* height: 10vh; */
        height: 13vh;
    }
   
  
    .form-section {

        display: flex;
        flex-direction: column;
        border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 50%;

    }
    .btns{

        width: 100%;
        
    }
  
  
    .div1, .div2, .div3 {
        -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 50px;
        width: 50px;
        background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
        margin-top: -1.3rem;
        background: #fff;
    }
    .welcomMsg {
        color: rgb(48, 42, 42);
        /* font-size: 1rem; */
        text-transform: capitalize;
        word-spacing: 0.2rem;

        
    }
    .textField{
        height: 17vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* margin-top: -2rem; */
    }
    .center {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        width: 100%;
       text-align: center;
       height: 8vh;
       /* border: 2px solid blue; */
       /* margin-top: -2rem; */
    
    }
    .para {
        color: rgb(48, 42, 42);
        font-size: 1rem;
        text-transform: capitalize;
        word-spacing: 0.2rem;
        /* margin-top: -2rem; */
    }

  .MuiOutlinedInput-input{
    padding:13px 2px;
    font-size: small;
  }
  .MuiOutlinedInput-root {
    height: 3.5rem;
}
.MuiButton-contained {
  font-size: medium;
}

.MuiTypography-body1, .MuiButton-label {
    font-size: small;
}
.MuiOutlinedInput-input{
padding:13px 2px;
font-size: small;
}
.MuiSvgIcon-root{
    fill: currentColor;
width: 0.7em;
height: 0.7em;
display: inline-block;
font-size: 1.8rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
-moz-user-select: none;
}

.btns{
    font-size: 10rem;
    line-height: 2rem;
    font-weight: bolder;
    

}
.MuiFormControlLabel-root{
    margin-left: -10px;
}
.lastPara{
    font-size: medium;
    margin-top: -1.9rem;
}
.socials{
    margin-top: -1.9rem;
}
}

@media screen and (max-width:800px){
    .MuiTypography-body1, .MuiButton-label{
        font-size: medium;
    }
  
    .buttonSection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 2vh;
        width: 100%;
        height: 15vh;
    }
    .form-section {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        display: flex;
        flex-direction: column;
        margin-left:2% ;
        border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 50%;
    }
    .btns{

        width: 100%;
        
        
    }
  
    .div1, .div2, .div3 {
        -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 50px;
        width: 50px;
        background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
        background: #fff;
        margin-top: 2vh;
    }
    .welcomMsg {
        color: rgb(48, 42, 42);
        font-size: 1.5rem;
        text-transform: capitalize;
        word-spacing: 0.2rem;

        
    }
    .textField{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: -1.5rem;
    }
   .topText{
       font-size: small;
   }
    .MuiOutlinedInput-input {
        padding: 13px 2px;
        font-size: medium;
        height: 30px;
    }
  .MuiOutlinedInput-root {
    height: 3.5rem;
}
.MuiButton-contained {
  font-size: medium;
    /* height: 45px; */
}

.MuiTypography-body1, .MuiButton-label {
    font-size: small;
}
.MuiOutlinedInput-input{
padding:13px 8px;
font-size: medium;
}
.MuiIconButton-edgeEnd {
    margin-right: -8px;
    width: 0.5rem;
}
.MuiFormControlLabel-root {
    /* position: absolute; */
    width: 100%;
}
.MuiButton-textPrimary{
    /* width: 100%; */
}
.MuiButton-label {
    font-size: small;
}
.MuiSvgIcon-root{
    fill: currentColor;
width: 0.7em;
height: 0.7em;
display: inline-block;
font-size: 2.5rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
-moz-user-select: none;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   text-align: center;
   /* height: 20vh; */
   margin-top: 2vh;
   position: relative;


}
.btns{
    /* font-size: 10rem; */
    /* line-height: 2rem; */
    
    font-weight: bold;
}
.MuiFormControlLabel-root{
    margin-left: -10px;
}
.lastPara{
    font-size: medium;
    margin-top: -2.1rem;
}
.socials{
    margin-top: -2.2rem;
    
    /* height: 43px; */
}
.MuiButton-text{
    /* padding: 6px 28px; */
}
}



@media screen and (max-width:600px){
    /* body{
        font-size: calc(14px + (13 - 14) * ((100vw - 300px) / (1600 - 300)));;
       
    } */
    .container {

        width: 75vw;
        height: 85vh;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
    }
    .MuiTypography-body1, .MuiButton-label{
        font-size: small;
    }
  
    .buttonSection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin-top: 1vh;
        width: 100%;
        height: 100px;
    }
    .form-section {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        display: flex;
        flex-direction: column;

        margin-left:2% ;
        border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
        width: 50%;

    }
    .btns{

        width: 100%;
        
        
    }
  
    .div1, .div2, .div3 {
        -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 37px;
        width: 37px;
        border-radius: 50%;
        background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
        background: #fff;
    }
    .welcomMsg {
        margin-top: 1vh;
        color: rgb(48, 42, 42);
        font-size: 1.3rem;
        text-transform: capitalize;
        word-spacing: 0.2rem;

        
    }
    .textField{
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top:1vh;
    }
    .topText{
        margin-top: 1vh;
        font-size: smaller;
    }

  .MuiOutlinedInput-input{
    padding:13px 1px;
    font-size: smaller;
  }
  .MuiOutlinedInput-root {
    height: 45px;
}
.MuiButton-contained {
  font-size: medium;
    height: 37px;
}
.MuiButtonBase-root {
   
    height: 37px;
}
.MuiTypography-body1, .MuiButton-label {
    font-size: xx-small;
}
.MuiOutlinedInput-input{
padding:13px 1px;
font-size: smaller;
}
.MuiSvgIcon-root{
    fill: currentColor;
width: 0.7em;
height: 0.7em;
display: inline-block;
font-size: 1.6rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
-moz-user-select: none;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
   text-align: center;
   height: 10vh;
   
   margin-top: -2vh;


}
.btns{
    font-size: 10rem;
    line-height: 2rem;
    
    font-weight: bolder;
}
.MuiFormControlLabel-root{
    margin-left: -10px;
}
.lastPara{
    font-size: small;
    margin-top: 1.7vh;
}
.socials{
    margin-top: 6vh;
}
}


@media screen and (max-width:540px){
    .welcomMsg{
        margin-top: -2vh;
        font-size: 0.9rem;
    }
    .MuiTypography-body1, .MuiButton-label{
        font-size: x-small;
    }
  
    .buttonSection {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: 100%;
        height: 70px;
    }
    .btns{

        width: 100%;
        
        
    }
    .img {
        min-height: auto;
         
    width: 100%;
        height: 95vh;
        background-image: url("../img/undraw_remotely_2j6y.svg");
        background-position: center;
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .div1, .div2, .div3 {
        -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 27px;
        width: 27px;
        border-radius: 50%;
        background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
        background: #fff;
    }
    .lastPara  {
        margin-top: 1vh;
        color: rgb(48, 42, 42);
        font-size: 0.7rem;
        text-transform: capitalize;
        word-spacing: 0.1rem;
      text-align: center;

        
    }
    .textField{
        /* margin-top: -3vh; */

        height: 7em;
}
    .para {
        margin-top: -8vh;

        color: rgb(48, 42, 42);
        /* font-size: 0.8rem; */
        text-transform: capitalize;

        
    }
    .center {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
       text-align: center;
       height:8vh;
       position: relative;
       margin-top: 0.7vh;
    }
    .MuiOutlinedInput-root {
        height: 35px;
    }
    .MuiTypography-body1, .MuiButton-label {
        font-size: xx-small;
    }
  .MuiOutlinedInput-input{
    padding:13px 1px;
    font-size: smaller;
  }
  .MuiTypography-body1, .MuiButton-label {
    font-size: x-small;
}
  .MuiButtonBase-root {
   
    height: 1.8rem;
}
.MuiIconButton-label{
    width: 0.02rem;
   }
   .MuiOutlinedInput-adornedStart {
    padding-left: 9px;
}
  

.MuiOutlinedInput-adornedEnd {
    padding-right: 8px;
}
.MuiOutlinedInput-input{
    font-size: x-small;
}
.MuiFab-root {
    min-height: auto;
     
 }


  .form-section {
    padding-top: 10px;
    /* padding-bottom: 10px; */
    /* padding-left: 0.1rem; */
    /* padding-right: 0.1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    /* margin-left:2% ; */
    border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;

    width: 50%;
}
.MuiSvgIcon-root{
 fill: currentColor;
width: 0.6em;
height: 0.6em;
display: inline-block;
font-size: 1.4rem;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
flex-shrink: 0;
-moz-user-select: none;
}
.socials{
    margin-top: 2vh;
}
}

@media screen and (max-width:416px){
    /* body{
        background-color: #ff0099;
    } */
    
      .welcomMsg {
          margin-top: -1rem;
          color: rgb(48, 42, 42);
          font-size: 0.7rem;
      }
    
      .MuiOutlinedInput-adornedStart {
          padding-left: 4px;
      }
  
         .buttonSection {
             display: flex;
             flex-direction: column;
             width: 100%;
             height: 14vh;
             /* margin-top: -1.5rem; */
         }
         .textField{
             height: 20vh;
             margin-top: 0.2rem;
  
         }
     
         .btns{
  
             width: 100%;
             
             
         }
    .lastPara{
        font-size: 0.6rem;
    }
     
     }


@media screen and (max-width:360px){
  /* body{
      background-color: #ff0099;
  } */
  
    .welcomMsg {
        margin-top: -1rem;
        color: rgb(48, 42, 42);
        font-size: 0.7rem;
    }
    .form-section {
        /* padding-top: 8px;
        padding-bottom: 10px;
        padding-left: 0.1rem;
        padding-right: 0.1rem; */
        display: flex;
        flex-direction: column;

        /* margin-left:2% ; */
        border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
        width: 50%;
    }  
    .MuiOutlinedInput-adornedStart {
        padding-left: 4px;
    }

       .buttonSection {
           display: flex;
           flex-direction: column;
           width: 100%;
           height: 11vh;
           /* margin-top: -1.5rem; */
       }
       .textField{
           height: 6em;
           margin-top: 0.2rem;

       }
   
       .btns{

           width: 100%;
           
           
       }
       .MuiFab-root {
       min-height: auto;
        
    }
       .div1, .div2, .div3 {
           -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
           box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -webkit-box-pack: center;
           -ms-flex-pack: center;
           justify-content: center;
           -webkit-box-align: center;
           -ms-flex-align: center;
           align-items: center;
           height: 27px;
           width: 27px;
           border-radius: 50%;
           background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
           background: #fff;
       }
       .lastPara  {
           /* margin-top: "3vh"; */
           color: rgb(48, 42, 42);
           font-size: 0.6rem;
           text-transform: capitalize;
           word-spacing: 0.1rem;
           margin-top: 0.2rem;
   
           
       }
       .para {
           margin-top: -0.5rem;
           color: rgb(48, 42, 42);
           font-size: 0.6rem;
           text-transform: capitalize;
    
   
           
       }
       .align{
           /* width: 100%; */
           text-align: center;
           display: flex;
           justify-content: space-around;
           /* margin-top: 1rem; */
           
       }
       .MuiIconButton-label{
        width: 0.1rem;
       }
       .MuiButtonBase-root {
   
        height: 1.8rem;
    }
       .center {
           margin-left: auto;
           margin-right: auto;
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
           justify-content: center;
           align-items: center;
           width: 100%;
          
           height: 7rem;
       }
  
       .MuiOutlinedInput-input{
           font-size: xx-small;
       }
       .MuiOutlinedInput-root {
           height: 30px;
       }
       
     
   .MuiSvgIcon-root{
       fill: currentColor;
   width: 0.5em;
   height: 0.5em;
   display: inline-block;
   font-size: 1.6rem;
   transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   flex-shrink: 0;
   -moz-user-select: none;
   }
   .socials {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}
.MuiIconButton-root {
   padding-right: 8px;
}
.MuiFormLabel-root {
   font-size: small;
    line-height: 1;
    letter-spacing: 0.2em;
}
   }



@media screen and (max-width:320px){
    /* body{
        background-color: #ff0099;
    } */
    
      .welcomMsg {
          color: rgb(48, 42, 42);
          font-size: 0.7rem;
      }
      .form-section {
          /* padding-top: 8px;
          padding-bottom: 10px;
          padding-left: 0.1rem;
          padding-right: 0.1rem; */
          display: flex;
          flex-direction: column;
  
          /* margin-left:2% ; */
          border-left:   rgba(0, 0, 0, 0.24) 0px 3px 8px;
      
          width: 50%;
      }  
      .MuiOutlinedInput-adornedStart {
          padding-left: 4px;
      }
  
         .buttonSection {
             display: flex;
             flex-direction: column;
             width: 100%;
             height: 20vh;
             justify-content: space-around;
             /* margin-top: -1.5rem; */
         }
         .textField{
             height: 6em;
             margin-top: 0.2rem;
  
         }
     
         .btns{
  
             width: 100%;
             
             
         }
         .MuiFab-root {
         min-height: auto;
          
      }
         .div1, .div2, .div3 {
             -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
             box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
             display: -webkit-box;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-pack: center;
             -ms-flex-pack: center;
             justify-content: center;
             -webkit-box-align: center;
             -ms-flex-align: center;
             align-items: center;
             height: 27px;
             width: 27px;
             border-radius: 50%;
             background: -webkit-gradient(linear, left top, right top, from(#493240), to(#ff0099));
             background: #fff;
         }
         .lastPara  {
             /* margin-top: "3vh"; */
             color: rgb(48, 42, 42);
             font-size: 0.5rem;
             text-transform: capitalize;
             margin-top: 0.2rem;
     
             
         }
         .para {
             margin-top: -0.5rem;
             color: rgb(48, 42, 42);
             font-size: 0.5rem;
             text-transform: capitalize;
      
     
             
         }
         .align{
             /* width: 100%; */
             text-align: center;
             display: flex;
             justify-content: space-around;
             /* margin-top: 1rem; */
             
         }
         .MuiIconButton-label{
          width: 0.1rem;
         }
         .MuiButtonBase-root {
     
          height: 1.8rem;
      }
         .center {
             margin-left: auto;
             margin-right: auto;
             display: flex;
             flex-direction: column;
             justify-content: space-around;
             justify-content: center;
             align-items: center;
             width: 100%;
            
             height: 8vh;
         }
    
         .MuiOutlinedInput-input{
             font-size: xx-small;
         }
         .MuiOutlinedInput-root {
             height: 30px;
         }
         
       
     .MuiSvgIcon-root{
         fill: currentColor;
     width: 0.5em;
     height: 0.5em;
     display: inline-block;
     font-size: 1.6rem;
     transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
     flex-shrink: 0;
     -moz-user-select: none;
     }
     .socials {
      display: flex;
      justify-content: space-between;
      margin-top: 7vh;
  }
  .MuiIconButton-root {
     padding-right: 8px;
  }
  .MuiFormLabel-root {
     font-size: small;
      line-height: 1;
      letter-spacing: 0.2em;
  }
     }