@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
}
.header{
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding-left: 0 30px;
  align-items: center;
}
.logo{
  width: 75px;
}
.menu-btn{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-btn a{
  text-decoration: none;
  color: #268DED;
  font-weight: 700;
}

.menu{
  width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 3px 60px;
}
.menu a{
  text-decoration: none;
  color: #268DED;
  font-weight: 700;
}
.mobile-gate{
  padding: 8px 23px;
  border: 2px solid #268DED;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  color: #268DED;
  display: none;
}
.section1{
  width: 100%;
  height: 150vh;
  background-color: #F6F9FC;
  border-bottom-left-radius:13%;
  border-bottom-right-radius:13%;
  padding-top: 85px;
}
.buttonCont{
  width: 100%;
  height: 70px;
  margin-top: 65px;
  padding-left:659px;
}
.buttonCont button{
  
}
.call-to-action{
  width: 700px;
  margin: 0 auto;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}
.call-to-action h1{
  font-size: 3rem;
  color: #2A81FF;
  padding-bottom: 20px;
  font-family: 'Jua', sans-serif;
  margin-top: 100px;
}
.call-to-action p{
  font-size: 1.2rem;
  color: rgb(61, 59, 59);
  font-family: 'Jua', sans-serif;
  padding: 30px;
}
.appleDots{
  display: flex;
  justify-content: flex-start;
  background-color: green;
  position: absolute;
  top: 70;
  width: 82px;

}
.appleDots span:nth-child(1){
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
@media only screen and (max-width: 600px) 
  {
    .menu{
      display: none;
    }
    .menu-btn a{
      display: none;
    }
    .logo{
      margin-left: 20px;
    }
    .mobile-gate{
      margin-left: 170px;
      display: block;
    }
    .mobile-gate:focus{
      background-color: aqua;
      color: black;
    }
    .section1{
      width: 100%;
      height: 100vh;
      background-color: #F6F9FC;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom-left-radius:0;
      border-bottom-right-radius: 0;
    }
    .menu-btn button{
      margin-left: 90px;
    }
    .call-to-action{
      width: 100%;
    }
    .buttonCont{
      padding-left: 0;
      margin-top: 130px;
      width: 250px;
      font-size: .5rem;
      margin-left: 100px;
    }
  } 
